
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: azure;
    display: flex;
    
    height: 100vh;
    align-items: flex-end;
    justify-content: end;
}
.item{
    
    padding: 10px;
    margin: 10px;
    color: rgb(221, 20, 20);
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 120px;
    height: 20px;
}
